

.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;
    height: 65px;
}

.wrapper-card {
    flex: 1 1 auto;
    padding: 0 50px;
    position: relative;
}

.wrapper-card .titled {
    background-color: darkkhaki;
    color: #111;
    text-align: center;
    padding: 15px 0;
    border-radius: 2px;
    cursor: pointer;
}

.wrapper-card ul {
    list-style: none;
    padding: 0;
    /* margin: 0; */
    background-color: darkgrey;
    display: none;
}

.wrapper-card ul li {
    text-align: center;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.input-section {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: burlywood;
}

.input-section input[type="text"] {
    display: inline-block;
    height: 45px;
    width: 400px;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    margin-right: 10px;
    text-indent: 15px;
}

.input-section input[type="submit"] {
    display: inline-block;
    padding: 15px 30px;
    border: none;
}